<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= site %> | <%= local.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<!-- 公共资源CSS,JS  -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/themes/easyui/metro/easyui.css">
<link rel="stylesheet" type="text/css" href="/themes/css/style.css">
<link rel="stylesheet" type="text/css" href="/themes/css/FastDevTool.css">
<link rel="stylesheet" type="text/css" href="/themes/css/diyUpload/css/diyUpload.css">
<link rel="stylesheet" type="text/css" href="/themes/css/icon.css">
<!-- Javascript -->
<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script type="text/javascript" src="/scripts/plugins/jquery.js"></script>
<script type="text/javascript" src="/scripts/common/BasicClass.js"></script>
<script type="text/javascript" src="/scripts/common/originUtils.js"></script>
<script type="text/javascript" src="/scripts/common/OGridClass.js"></script>
<script type="text/javascript" src="/scripts/common/webuploader.js"></script>
<script type="text/javascript" src="/scripts/common/FastDevTool.js"></script>
<script type="text/javascript" src="/scripts/common/ViewClass.js"></script>
<script type="text/javascript" src="/scripts/common/common.js"></script>
<script type="text/javascript" src="/scripts/common/store_dict_json.js"></script>
<script type="text/javascript" src="/scripts/plugins/jquery.form.js"></script>
<script type="text/javascript" src="/scripts/plugins/json2.js"></script>
<script type="text/javascript" src="/scripts/plugins/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/scripts/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/scripts/plugins/coocaa.js"></script>
<script type="text/javascript" src="/scripts/view/dateFromat.js"></script>





<script type="text/javascript">
	var $basePath = '', $uploadPath = '';
</script>
</head>

